<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        caption {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<table>
<tr>
    <caption>Список детей из выбранной группы</caption>
    <form action="{% url "visit:view_subscriptions" group.id %}" method="post">
    {% csrf_token %}
    <input type="checkbox" name="arrival_children" id="arrival_children" {% if request.POST.arrival_children %}checked{% endif %}>
    <label for="scales">Пришло</label>
    <button type="submit">Применить</button>
    </form>
        <th>ФИО</th>
        <th>Номер абонемента</th>
        <th>Дата окончания</th>
        <th>Количество оставшихся тренировок</th>
        <th>Время прихода</th>
        <th>Время ухода</th>
        <th>ИО родителя</th>
        <th>Номер телефона</th>
    </tr>
    {% for subscription in subscriptions %}
        <tr>
        <td>{{ subscription.child.surname}} {{ subscription.child.name_patronymic }}</td>
        <td>{{ subscription.id }}</td>
        <td>{{ subscription.conclusion_date|date:"d.m.Y" }}</td>
        <td> {{ subscription.count }}</td>
        {% if subscription.first_visit %}
            <td>{{ subscription.first_visit.time_of_arrival|date:"H:i"}}</td>
        {% else %}
            <td>Не пришел</td>
        {% endif %}
        {% if subscription.first_visit %}
            <td>{{ subscription.first_visit.exit_time|date:"H:i"}}</td>
        {% else %}
            <td>Не ушел</td>
        {% endif %}
        <td>{{ subscription.parent.surname}} {{ subscription.parent.name_patronymic }}</td>
        <td>{{ subscription.parent.mobile_phone }}</td>
        </tr>
    {% endfor %}
</table>
    <form action="{% url "visit:create_visit" %}" method="post">
    {% csrf_token %}
    <p>Номер абонемента:<br> <input name="subscription_id" type="number" />
    <button type="submit" name="action" value="arrival"> Отметить приход</button>
    <button type="submit" name="action" value="exit"> Отметить уход</button>
    </p>
    </form>
<form method="get" action="{% url "visit_control:statistic" %}">
    <button class="btn-new"> Статистика посещений групп на сегодня </button>
</form>

</body>
</html>

