{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Расписание</title>
       <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h2>Расписание на сегодня</h2>
        <p>Всего найдено: {{ schedules_count }}</p>
        <table>
            <thead>
                <tr>
                    <th>Секция</th>
                    <th>Группа</th>
                    <th>Время начала</th>
                    <th>Время окончания</th>
                    <th>Номер зала</th>
                    <th>Количество детей в группе</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.group.naming_sport }}</td>
                    <td><a href="{% url "visit:detail-group" schedule.group.id %}"> {{ schedule.group.naming }}</a></td>
                    <td>{{ schedule.start_time|date:"H:i" }}</td>
                    <td>{{ schedule.end_time|date:"H:i"}}</td>
                    <td>{{ schedule.training_room }}</td>
                    <td>{{ schedule.group.children_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
