{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
        <h2>Статистика посещений групп на сегодня</h2>
        <div class="align-right" style="padding-right: 515px">
         Найдено групп: {{ total_today }}
        </div>
<table>
     <tr>

        <th>Группа</th>
        <th>Тренер</th>
        <th>Количество в группе</th>
        <th>Количество пришедших </th>
    </tr>

    {% for group in data_groups %}
        <tr>
        <td>{{group.group_name}}</td>
        <td>{{ group.coach.surname }} {{ group.coach.name_patronymic }}</td>
        <td>{{group.count_children}}</td>
        <td>{{group.total_children_visited_today}}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>